.nav li a{
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
nav>li{
    float: left;
}
.nav li a:hover{
    background-color: #434343;
}
nav li ul{
    display:none;
}
.nav li:hover>ul{
    display: block;
}